<% content_for :js do -%><%= javascript_include_tag "front" %><% end -%>

<div class="left about_us" style="width:40%;margin-top:40px;">
  <!--<p class="heading">About us</p>-->
  <p class="content">
  Can computational systems help investigative journalists to identify patterns of intellectual influence that shape the creation of public policy?
  <br/><br/>
  Type or paste your text into the search box and let Migratory Words find the most interesting language as it has evolved and changed over time
  <br/><br/><br/><%= link_to('Read more ...',about_home_path)%>
  </p>
</div>

<div class="right" style="width:58%;margin-top:40px;">
  <%= render :partial=>"/shared/search_form",:locals=>{:corpora=>@corpora}%>
</div>


<div class="top_grams">
  <p class="heading">
  <span style="font-size:20px;font-weight:bold;">Top phrases</span>
  <span style="float:right;font-weight:normal;font-size:13px;line-height:24px;"><%=link_to('View all', root_url)%></span>
  </p>
  <div>
  <% @corpora_wise_grams.each do |c|%>
    <%= render :partial=>'ngrams/top_corpus_grams', :locals=>{:corpus=>c} %>
  <% end %>
  </div>
</div>
