<div class="header">
  <div>
    <!--<%= link_to(image_tag("logo.jpg"),root_url)%>-->
    <span class="logo"><%= link_to("Migratory words",root_url)%></span>
    <span class="profile"><b>Birds with similar words flock together</b> </span>
    <ul class="header_menu">
      <li class="index"><%=link_to("Home",root_url)%></li>
      <li class="index"><%=link_to("About us",'/about')%></li>
      <li class="index"><%=link_to("Help",'/help')%></li>
    </ul>
  </div>
</div>

